.aboutUs {
  color: wheat;
  &_text {
    display: none;
    top: 0;
    &-header {
      @supports (-webkit-text-stroke: 1px wheat) {
        & {
          -webkit-text-stroke: 2.5px #ffa600;
          -webkit-text-fill-color: black;
        }
      }
      font-size: 5rem;
      margin-left: 10px;
      &-line {
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: wheat;
      }
    }
    &-1-words {
      width: 774px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
      overflow: hidden;
      &-singleWord {
        font-size: 3rem;
        margin: 5px;
        color: red;
        font-weight: 600;
      }
    }
  }
}
iframe {
  // position: absolute;
  width: 100vw;
  height: 100vh;
}
