.menu {
  position: fixed;
  top: 100vw;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  backdrop-filter: blur(5px);
  &_link {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    border: none;
    margin-left: 30px;
    span {
      margin-right: 17px;
      font-size: 5rem;
      color: #ffa600;
      font-family: "Genos", sans-serif;
      transform: translateY(70px);
    }
    &-line {
      width: 0%;
      height: 1px;
      position: absolute;
      background-color: red;
    }
    &-close {
      cursor: pointer;
      font-family: "Genos", sans-serif;
      position: fixed;
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      color: red;
      font-size: 3rem;
    }
  }
  &_button {
    position: fixed;
    z-index: 1;
    cursor: pointer;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: transparent;
    backdrop-filter: blur(8px);
    &-cover {
      width: 10px;
      height: 10px;
      border: 1px dashed #ffa600;
      background-color: transparent;
      padding: 20px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }
    &-line {
      width: 3px;
      height: 3px;
      border-radius: 10px;
      border: 1px solid #ffa600;
      padding: 3px;
      background-color: #ffa600;
    }
  }
}
.activeLink {
  span {
    color: red;
  }
}
