.aboutUs {
  color: wheat;
  &_text {
    &-header {
      color: red;
      font-weight: 600;
      font-size: 5rem;
      margin-left: 10px;
      &-line {
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: wheat;
      }
    }
    &-1-words {
      width: 774px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
      overflow: hidden;
      &-singleWord {
        font-size: 3rem;
        margin: 5px;
        color: #ffa600;
        font-weight: 600;
      }
    }
  }
}
iframe {
  width: 100vw;
  height: 100vh;
}
