.projects {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-gap: 60px;
  justify-content: center;
  @include respond(1000) {
    grid-template-columns: repeat(2, min-content);
  }
  @include respond(phone) {
    grid-template-columns: repeat(1, min-content);
  }
  .singleProject {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
    border: 9px solid #69190f;
    box-shadow: 8px 7px 0px #f7a630;
    @include respond(phone) {
      height: 300px;
    }
    &:hover {
      div {
        width: 150%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      transition: 0.3s;
      object-fit: cover;
    }
    div {
      position: absolute;
      width: 100%;
      bottom: 28px;
      display: flex;
      justify-content: space-around;
      align-items: end;
      font-weight: 700;
      font-size: 2.3rem;
      backdrop-filter: blur(10px);
      padding: 6px;
      color: #ffffff;
      background-color: #691107;
      transition: 0.3s;
    }
  }
}
.projectsDetails {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100%;
  background-color: rgb(0, 0, 0);
  &-backButton {
    transform: translateX(1vw);
    font-size: 2rem;
    cursor: pointer;
    color: #f7a630;
  }
  &-list {
    margin-bottom: 67px;
    margin-top: 32px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        position: relative;
        margin-bottom: 20px;
        cursor: not-allowed;
        border: 3px solid white;
        overflow: hidden;
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        img {
          width: 700px;
          filter: brightness(0.4);
          transition: 0.8s;
          @include respond(phone) {
            width: 337px;
          }
        }
        p {
          position: absolute;
          bottom: 103px;
          left: 26px;
          color: white;
          font-size: 5rem;
          font-weight: 600;
        }
      }
    }
  }
}
